<header class="header">
    <h1>Robybam7752</h1>
</header>


<nav class="navbar">
    <a href="../index.html">Inicio</a>
    <a href="/pages/proyectos.html">Proyectos</a>
    <a href="/pages/nosotros.html">Sobre Nosotros</a>
    <a href="/pages/mision.html">Misión</a>


    <button class="language-toggle" onclick="toggleLanguage()">English</button>
    
</nav>


<!-- V2. header -->
<!-- 
<nav>
    <div class="logo" data-es="Robybam7752" data-en="Robybam7752">Robybam7752</div>
    <button class="language-toggle" onclick="toggleLanguage()">English</button>
  </nav> -->
